# dependencies
node_modules

# env
.env
.env.*

# builds
dist
.next
coverage

# logs
*.log

# OS
.DS_Store

# IDE
.vscode

# NestJS
backend/dist

# NextJS
frontend/.next

# Testing
jest-report

# Prisma
*.db